body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #2d2a2e;
    color: #e0e0e0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-top: 20px;
}

.card {
    width: 70%; /* Fixed width */
    height: 90%; /* Fixed height */
    opacity: 0;
    animation: fadeIn 2s forwards;
    transform: translateY(20px);
    color: #f5f5f5;
    background-color: #35333a;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid #444;
    overflow: auto; /* Adds scrollbars when content overflows */
}

.tabs {
    display: flex;
    border-bottom: 2px solid #444;
    cursor: pointer;
}

.tab {
    padding: 10px 20px;
    color: #e0e0e0;
    background-color: #3c3a40;
    margin-right: 2px;
    transition: background 0.3s;
}

.tab.active {
    background-color: #2d2a2e;
    color: #c678dd;
    font-weight: bold;
}

.code-content {
    display: none;
}

.code-content.active {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

pre {
    overflow: auto;
    margin: 0;
    padding: 0px 18px;
    background-color: #2d2a2e;
    color: #e0e0e0;
    font-size: 1rem;
    border-radius: 8px;
    border-left: 4px solid #c678dd;
}

code {
    font-family: "Courier New", Courier, monospace;
}

.keyword { color: #c678dd; font-weight: bold; }
.string { color: #98c379; }
.function { color: #61afef; }
.variable { color: #e5c07b; }
.white { color: #fff }

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-links a img {
    width: 28px;
    height: 28px;
    filter: brightness(0.75);
    transition: filter 0.3s;
}

.social-links a img:hover {
    filter: brightness(1);
}