body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e0e0e0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-top: 20px;
}

.card {
    width: 70%;
    height: 90%;
    color: #f5f5f5;
    background-color: #35333a;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    border: 1px solid #444;
    overflow: auto;
}

.card::-webkit-scrollbar {
    width: 10px;
}

.card::-webkit-scrollbar-thumb {
    background: #565264;
    border-radius: 5px;
    border: 2px solid #35333a;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #7a78a1;
}

.card::-webkit-scrollbar-track {
    background: #3c3a40;
    border-radius: 5px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #444;
    cursor: pointer;
}

.tab {
    padding: 10px 20px;
    color: #e0e0e0;
    background-color: #3c3a40;
    margin-right: 2px;
    transition: background 0.3s;
}

.tab.active {
    background-color: #2d2a2e;
    color: #c678dd;
    font-weight: bold;
}

.code-content {
    display: none;
}

.code-content.active {
    display: block;
}

pre {
    overflow: auto;
    margin: 0;
    padding: 0px 18px;
    background-color: #2d2a2e;
    color: #e0e0e0;
    font-size: 1rem;
    border-radius: 8px;
    border-left: 4px solid #c678dd;
}

pre::-webkit-scrollbar {
    width: 8px;
}

pre::-webkit-scrollbar-thumb {
    background: #565264;
    border-radius: 5px;
}

pre::-webkit-scrollbar-thumb:hover {
    background: #7a78a1;
}

pre::-webkit-scrollbar-track {
    background: #3c3a40;
}

code {
    font-family: "Courier New", Courier, monospace;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-links a img {
    width: 28px;
    height: 28px;
    transition: filter 0.3s;
}